<header class="bg-1 h-screen" fxLayout="column" fxLayoutAlign="center center">
  <h1
    class="text-7xl md:text-9xl font-bold font-mono text-white text-opacity-80 leading-tight uppercase"
  >
    Team Up <br />
    With me
  </h1>
</header>
<main
  fxLayout="row"
  fxLayoutAlign="center"
  class="min-h-screen bg-2 p-4 text-gray-900 pt-16"
>
  <div class="max-w-7xl">
    <div
      fxLayout="column"
      fxLayoutGap="2rem"
      fxLayout.gt-md="row"
      fxLayoutAlign="start center"
    >
      <img
        class="h-64 w-64 object-cover rounded-full glass"
        src="/assets/images/avatar.png"
        alt="avatar"
      />
      <div fxLayout="column" fxLayoutGap="2rem">
        <h2 class="text-4xl font-bold">Hello friends 🖐🏼 <br />I'm Lukas</h2>
        <h2 class="text-2xl md:text-4xl">
          I would like to join your team as a
          <span
            class="font-bold text-transparent bg-clip-text bg-gradient-to-tr from-green-600 to-green-400"
          >
            Tech Developer
          </span>
        </h2>
      </div>
    </div>
    <h2 class="text-2xl md:text-4xl mt-4">Why team up with me?</h2>
    <h2 class="text-2xl md:text-4xl mb-4">
      I
      <span
        class="text-transparent bg-clip-text font-black bg-gradient-to-tr from-pink-600 to-pink-400"
        >LOVE</span
      >
      to code and develop things, check out two current projects
    </h2>
    <div
      class="rounded-2xl bg-gradient-to-t from-blue-900 to-blue-700 p-6 text-white my-4"
    >
      <h3 class="text-2xl md:text-4xl font-black text-blue-200">
        The TUMi app
      </h3>
      <h4 class="text-xl md:text-2xl text-blue-300">My biggest project</h4>
      <div
        fxLayout="column-reverse"
        fxLayout.gt-md="row"
        fxLayoutGap="1rem"
        fxLayoutAlign="start center"
      >
        <div fxFlex.gt-md="50" class="text-lg">
          <ul class="list-disc list-inside">
            <li>Used by over 3000 registered users</li>
            <li>Already facilitated over 400 events</li>
            <li>Over 1000 users per day during peak times</li>
          </ul>
          <div fxLayout="row" fxLayoutGap="1rem" class="my-4">
            <a
              href="https://github.com/heddendorp/tumi-app"
              target="_blank"
              class="text-lg rounded border-2 border-gray-100 px-4 py-2 bg-gray-100 bg-opacity-10 cursor-pointer hover:bg-opacity-20"
            >
              See on github
            </a>
            <a
              href="https://tumi.esm.world/"
              target="_blank"
              class="text-lg rounded border-2 border-gray-100 px-4 py-2 bg-gray-100 bg-opacity-10 cursor-pointer hover:bg-opacity-20"
            >
              Check it out live
            </a>
          </div>
        </div>
        <img
          fxFlex.gt-md="50"
          src="/assets/images/screenshot1.png"
          alt="screenshot"
        />
      </div>
    </div>
    <div
      class="rounded-2xl bg-gradient-to-t from-green-900 to-green-700 p-6 text-white my-4"
    >
      <h3 class="text-2xl md:text-4xl font-black text-green-200">
        ESN speakers list
      </h3>
      <h4 class="text-xl md:text-2xl text-green-300">
        Organizing assemblies since 2020
      </h4>
      <div
        fxLayout="column-reverse"
        fxLayout.gt-md="row"
        fxLayoutGap="1rem"
        fxLayoutAlign="start center"
      >
        <div fxFlex.gt-md="50" class="text-lg">
          <ul class="list-disc list-inside">
            <li>Used at ESN germany national assemblies</li>
            <li>Allowed including more participants in the discussion</li>
            <li>Also includes a tutorial for new users</li>
            <li>Allows spontaneous voting on unforeseen topics</li>
          </ul>
          <div fxLayout="row" fxLayoutGap="1rem" class="my-4">
            <a
              href="https://github.com/heddendorp/esn-speakers-list"
              target="_blank"
              class="text-lg rounded border-2 border-gray-100 px-4 py-2 bg-gray-100 bg-opacity-10 cursor-pointer hover:bg-opacity-20"
            >
              See on github
            </a>
            <a
              href="https://esn-speakers.web.app/"
              target="_blank"
              class="text-lg rounded border-2 border-gray-100 px-4 py-2 bg-gray-100 bg-opacity-10 cursor-pointer hover:bg-opacity-20"
            >
              Check it out live
            </a>
          </div>
        </div>
        <img
          fxFlex.gt-md="50"
          src="/assets/images/screenshot2.png"
          alt="screenshot"
        />
      </div>
    </div>
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="1rem" class="my-4">
      <div fxFlex.gt-md="55" class="panel">
        <h3 class="text-2xl md:text-4xl mb-4">I'll be your software expert</h3>
        <div
          gdAuto
          gdColumns="48px auto"
          gdGap="1rem"
          gdAlignColumns="start center"
        >
          <img
            src="https://img.icons8.com/fluent/48/000000/minecraft-creeper.png"
          />
          <p class="text-xl">
            Started coding before 11th grade during a heavy minecraft phase
          </p>
          <img src="https://img.icons8.com/fluent/48/000000/design.png" />
          <p class="text-xl">Worked in a design agency for some time</p>
          <img
            src="https://img.icons8.com/fluent/48/000000/integrated-circuit.png"
          />
          <p class="text-xl">Bachelor's thesis about embedded programming</p>

          <img src="https://img.icons8.com/fluent/48/000000/new-company.png" />
          <p class="text-xl">
            Currently working as a software engineer at the TUM startup celonis
          </p>
        </div>
      </div>
      <div fxFlex.gt-md="45" class="panel">
        <h3 class="text-2xl md:text-4xl mb-4">Startup experience included</h3>
        <div
          gdAuto
          gdColumns="48px auto"
          gdGap="1rem"
          gdAlignColumns="start center"
        >
          <img src="https://img.icons8.com/fluent/48/000000/filled-chat.png" />
          <p class="text-xl">
            Spent two years at a startup working on new technology for a social
            platform
          </p>
          <img src="https://img.icons8.com/fluent/48/000000/carpool.png" />
          <p class="text-xl">
            Currently doing an IDP at ridebee, another TUM startup
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
