.bg-1 {
  background: url('/assets/images/background1.jpg') fixed center;
  background-size: cover;
}
.bg-2 {
  background: url('/assets/images/background2.jpg') fixed center;
  background-size: cover;
}
